<ion-header-bar class="bar-header">
	<button class="button button-icon icon ion-navicon"></button>
   
    <span style="display: block; position: absolute;right: 32px; top: 4px; color:green">na conta</span>
    
    <span style="display: block; position: absolute;right: 32px;top: 20px; "><strong>R$ 150</strong></span>
    
    <span style="display: block; position: absolute;right: 12px;
    top: 8px; " ><img src="https://png.clipart.me/istock/previews/9267/92671403-thermometer-icon-flat-design-vector.jpg" 
    height="30px"  /></span>
</ion-header-bar>
<ion-content >
	
</ion-content>
